<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript">
    function updateTiny() {
    	//alert((location.pathname+location.search).substr(1).split("/")[0])
		document.getElementById("tinyURLId").value = (location.pathname+location.search).substr(1).split("/")[0];
	}
 </script>
	<style>
	body {
		background-color: powderblue;
		margin: 0 auto; 
		width:250px;
	}
</style>
</head>
<body onload="updateTiny()">
	<fieldset>
	 <legend>DISCLAIMER</legend>
	<p>
		<b>Static Content Here</b>
	</p>
	<form action="#" th:action="@{/processForm}" th:object="${Disclamer}"
		method="post">
		<input type="hidden" th:name="${'tinyURL'}" value="" id="tinyURLId" />
		<input type="radio" th:name="${'priorities'}" value="Y" />Accept <br/>
		<input type="radio" th:name="${'priorities'}" value="N" />Decline<br/><br/>
		<button type="submit" class="btn btn-xs btn-primary margin10-right paddingNew" name="save">Proceed!</button>
	</form>
	</fieldset>
</body>
</html>